@import "element-plus/dist/index.css";

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5% !important; // базовый размер шрифта в 10px (1rem = 10px)
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

div#app {
  display: contents;
}

// Element plus

// Радиобаттоны
.el-radio {
  color: $color-white;
}

.el-radio.el-radio--large .el-radio__label {
  font-size: 1.6rem;
}

.el-radio__input.is-checked+.el-radio__label {
  color: $color-white;
}

.el-radio__inner {
  background-color: $color-primary;
  border: none;
}

.el-radio.el-radio--large .el-radio__inner {
  height: 2.6rem;
  width: 2.6rem;
}
.el-radio__inner::after {
  width: 1.3rem;
  height: 1.3rem;
}

.el-radio.el-radio--large {
  height: auto;
}