// Цвета
$color-sub-background: #2B313B;
$color-background: #252A32;
$color-primary: #3A83F1;
$color-sub-primary: #326DC6;
$color-white: white;

//Ширина контейнера
$wrapper-width: 79.6875vw;

//Высота карты
$map-height: 75vh;
